.availability-info{
	.when-in-stock .info-tag{
		background: #6bbe22;
		&:hover{
			background: #4e9510;
		}
	}
	.when-out-of-stock .info-tag{
		background: #ff1d1d;
		&:hover{
			background: darken(#ff1d1d, 10%);
		}
	}
	.when-available-for-order .info-tag{
		background: #ffaa00;
		&:hover{
			background: darken(#ffaa00, 7%);
		}
	}
	.text{
		color: #fff;
	}
}