.availability-info{
	position: relative; // for .store-info
	display: inline-block;
	vertical-align: middle;
	.info-tag{
		@include transition(false, (background, opacity));
		display: inline-block;
		vertical-align: middle;
		padding: 1px 10px 5px;
		&:hover{ cursor: pointer;}
	}
	.info-info{
		display: inline-block;
		vertical-align: middle;
		padding: 0 2px;
		max-width: 250px;
		font-size: 11px;
		white-space: normal;
		line-height: normal;
	}
	.text{
		border-bottom: 1px dotted;

		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
		white-space: nowrap;
	}

	.when-in-stock .tooltip{
		max-width: 150px;
		white-space: normal;
	}
	.when-in-stock.toggled .tooltip{
		opacity: 0;
	}
	.when-out-of-stock .tooltip{
		max-width: 110px;
	}
	.when-available-for-order{
		// max-width: 120px;
		.info-tag{
			max-width: 100px;
			margin: 0 auto;
		}
		.tooltip{
			max-width: 170px;
		}
	}
}

.store-info{
	min-width: 150px;
}/* .store-info */

.when-in-stock{ 
	display: inline-block;
	vertical-align: middle;

	.availability-comments-enabled .blocks-item &{display: block;}

}
.availability-comments-enabled{
	.blocks-item{
		.out-of-stock, .available-for-order{
			.when-in-stock{display: none;}
		}
	}
}
.when-out-of-stock{ display: none;}
.when-available-for-order{ display: none;}
.out-of-stock{
	.when-in-stock{ display: none;}
	.when-out-of-stock{ 
		display: inline-block;
		vertical-align: middle;
	}
	.availability-comments-enabled .blocks-item & .when-out-of-stock{display: block;}
}
.available-for-order{
	.when-in-stock{ display: none;}
	.when-available-for-order{ 
		display: inline-block;
		vertical-align: middle;
	}
	.availability-comments-enabled .blocks-item & .when-available-for-order{display: block;}
}