.breadcrumbs{
	margin-bottom: 10px;
	@include clearfix;
}

.breadcrumbs-content{
	font-size: em(12px);
	a{
		display: inline-block;
		border-bottom: 1px solid;
		@include transition(false, (color, border-color));
		&:first-child>i:before{ font-size: 16px;}
	}
	

	@media (max-width: 767px){ display: none;}

	.b2_backnav-enabled &{
		position: relative;
		a[data-backnav]{
			font-weight: bold;
			border: none;
			padding: 2px 7px 3px;
			@include toggled-arrow;

			@media (max-width: 991px){
				padding: 7px 7px 8px;
			}
		}
		.backnav{
			display: block !important;
			visibility: hidden;
			opacity: 0;
		
			&[data-state="shown"]{
				visibility: visible;
			}
		}
	}
}
.b-list{
	padding: 0;
	margin: 0;
	list-style: none;
	>li{
		display: inline-block;
		>span{ font-weight: bold;}
		&:first-child>a>span{display: none;}
	}
}

.backnav{
	position: absolute;
	z-index: 5;
	padding: 5px 0;
	margin: 0;
	list-style: none;
	>li{
		transition: background-color .3s;
		&:hover{ background-color: silver}
		>a{
			font-weight: bold;
			display: block;
			padding: 2px 7px 3px;
			border: none;
		}
		&.active>a{
			@include toggled-arrow;
		}
	}

	display: none;

	@media (max-width: 992px){
		>li>a{
			padding: 7px 7px 8px;
		}
	}
}