.one-click-wrap{
	margin: -10px auto 0;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 0px 9px;
	border-radius: 0px 0px 10px 10px;
	>.text{
		margin-right: 10px;
	}
	.buy-block-content &{ 
		max-width: 400px;

	}
	.modal_quick-view &, .out-of-stock &{ display: none;}
	.btn-buy-wrap &{
		color: #000;
		margin: -3px auto 0;
		font-weight: normal;

		@media (max-width: 767px){
			min-width: 35px;
			.action>i{ top: -15px;}
		}
		@media (max-width: 1200px){
			min-width: 95px;
			margin-right: 4px;
		}
		
	}
	


}
.one-click-buy{
	>i{
		@include transition(false, color);
		top: -6px;
		left: -3px;
		&:before{
			font-weight: normal;
			font-size: 22px;
		}
	}
	>.text{
		@include transition(false, (color, border-color));
	}

	&.btn-action{

	}

	.accessories &{
		float: right;
		clear: right;
		margin-top: 9px;
	}
}