.one-click-wrap{
	@extend .silver-static;
	>.action{
		&:hover, &:active{
			color: #000;
			>.text{ border-color: transparent;}
		}
	}
}

.one-click-buy{
	&.btn-action{
		color: #000;
		@extend .btn-silver;
	}
}