@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?65453789');
  src: url('../font/fontello.eot?65453789#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?65453789') format('woff'),
       url('../font/fontello.ttf?65453789') format('truetype'),
       url('../font/fontello.svg?65453789#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65453789#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone-squared:before { content: '\e800'; } /* '' */
.icon-docs:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-angle-double-right:before { content: '\e803'; } /* '' */
.icon-angle-double-up:before { content: '\e804'; } /* '' */
.icon-angle-double-down:before { content: '\e805'; } /* '' */
.icon-angle-double-left:before { content: '\e806'; } /* '' */
.icon-chat-empty:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */
.icon-attach:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-help:before { content: '\e80b'; } /* '' */
.icon-floppy:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-mail-alt:before { content: '\e80e'; } /* '' */
.icon-basket:before { content: '\e80f'; } /* '' */
.icon-cloud:before { content: '\e810'; } /* '' */
.icon-icq:before { content: '\e811'; } /* '' */
.icon-cloud-1:before { content: '\e812'; } /* '' */