
.icon-phone-squared:before { content: '\e800'; } /* '' */
.icon-docs:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-angle-double-right:before { content: '\e803'; } /* '' */
.icon-angle-double-up:before { content: '\e804'; } /* '' */
.icon-angle-double-down:before { content: '\e805'; } /* '' */
.icon-angle-double-left:before { content: '\e806'; } /* '' */
.icon-chat-empty:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */
.icon-attach:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-help:before { content: '\e80b'; } /* '' */
.icon-floppy:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-mail-alt:before { content: '\e80e'; } /* '' */
.icon-basket:before { content: '\e80f'; } /* '' */
.icon-cloud:before { content: '\e810'; } /* '' */
.icon-icq:before { content: '\e811'; } /* '' */
.icon-cloud-1:before { content: '\e812'; } /* '' */