@font-face {
  font-family: 'Balloon XBd TL';
  src: url('../fonts/ballon-webfont.woff2') format('woff2'), url('../fonts/ballon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*zimin*/

/*
@font-face {
  font-family: "FranckerCYR-ExtraLight";
  src: url("../fonts/FRANCKERCYR-EXTRALIGHT.woff") format("woff"), url("../fonts/FRANCKERCYR-EXTRALIGHT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

Убрал -apple-system, BlinkMacSystemFont,

@font-face {
  font-family: 'FranckerCYR-ExtraLight';
  src: url('../fonts/franckercyr-extralight.woff2') format('woff2'), url('../fonts/franckercyr-extralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'FranckerCYR-ExtraLight';
  src: url('../fonts/franckercyr-extralight-with-rub.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

thead {
	display: table-row-group !important;
}

.page-header-for-print {
  width: 25cm;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
  display: none;    
}

@media print { 
  .page-header {
    display: none !important;
  } 

  .page-header-for-print {
    display: block;
  }
}

/*zimin*/


/* stylelint-disable  block-no-single-line */
/* stylelint-disable  block-opening-brace-newline-after */
/* stylelint-disable  block-closing-brace-newline-before */
/* stylelint-disable  at-rule-empty-line-before */
/* stylelint-enable  block-no-single-line */
/* stylelint-enable  block-opening-brace-newline-after */
/* stylelint-enable  block-closing-brace-newline-before */
/* stylelint-enable  at-rule-empty-line-before */
@at-root {
  @-ms-viewport {
    /* stylelint-disable-line  at-rule-no-vendor-prefix */
    width: device-width;
  }
}
[tabindex='-1']:focus {
  outline: none !important;
}
[role='button'] {
  cursor: pointer;
}
a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: #000000;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  /* stylelint-disable-line  property-no-vendor-prefix */
  min-width: 320px;
  min-height: 100%;
}
body {
  font-family: 'FranckerCYR-ExtraLight', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #1a1a1a;
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}
a {
  color: #ff8400;
  text-decoration: none;
  background-color: transparent;
}
a:hover,
a:focus {
  color: #b35c00;
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.875em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'FranckerCYR-ExtraLight', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;
  line-height: 1.4;
  color: currentColor;
}
h1,
h2,
h3 {
  margin-top: 1.375em;
  margin-bottom: 0.6875em;
}
h4,
h5,
h6 {
  margin-top: 0.6875em;
  margin-bottom: 0.6875em;
}
.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure,
table {
  margin-top: 0.6875em;
  margin-bottom: 0.6875em;
}
address {
  font-style: normal;
}
ul,
ol {
  padding-left: 1.8em;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  line-height: 1.375em;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
dd + dt {
  margin-top: 0.6875em;
}
hr {
  margin-top: 1.375em;
  margin-bottom: 1.375em;
  border: 0;
  border-top: 1px solid #999999;
}
small {
  font-size: 0.75em;
}
sub,
sup {
  font-size: 70%;
}
mark {
  background: #fcf8e3;
  padding: 0.1em 0.3em;
}
b,
strong {
  font-weight: bolder;
}
abbr[title] {
  border-bottom: 1px dotted;
}
blockquote {
  padding: 0 0 0 0.5em;
  margin-left: 0;
  margin-right: 0;
  border-left: 1px solid #999999;
}
blockquote p:first-child,
blockquote ul:first-child,
blockquote ol:first-child {
  margin-top: 0;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer {
  text-align: right;
  color: #808080;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
code {
  color: #1a1a1a;
  background-color: #cccccc;
  padding: 0.06em 0.3em;
  border-radius: 3px;
}
kbd {
  padding: 0.06em 0.3em;
  color: #1a1a1a;
  background-color: #cccccc;
  border-radius: 3px;
}
kbd kbd {
  padding: 0;
}
pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  background-color: #e6e6e6;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid #cccccc;
  white-space: normal;
  -moz-tab-size: 2;
       tab-size: 2;
}
.page-header {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.page-header--wriper:before,
.page-header--wriper:after {
  display: table;
  content: "";
}
.page-header--wriper:after {
  clear: both;
}
.page-header--logo {
  text-align: center;
  margin: 20px 2%;
  float: left;
  width: 45%;
  max-width: 140px;
}
.page-header--phone {
  float: right;
  width: 47%;
  margin: 25px 2%;
  text-align: right;
}
.page-header--search {
  width: 100%;
  display: block;
}
.page-header--catalog-menu {
  margin: 30px 0;
}
.page-header--site-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.page-header--site-menu li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.page-header--site-menu a {
  border-bottom: 1px solid #666666;
  color: #333333;
  font-size: 0.75em;
}
.page-header--site-menu a:hover {
  text-decoration: none;
  color: #ff8400;
  border-bottom-color: #ff8400;
}
.page-header--site-menu .camcloud-link {
  position: relative;
  padding-right: 20px;
}
.page-header--site-menu svg {
  position: absolute;
  right: 0;
}
.phone {
  background: none;
  padding-top: 0;
}
.phone:before,
.phone:after {
  display: table;
  content: "";
}
.phone:after {
  clear: both;
}
.phone--number {
  font-size: 1.28em;
}
.phone--distr {
  color: #009ddb;
  font-size: 0.85em;
  display: inline-block;
}
.search {
  border: 1px solid #cccccc;
  border-radius: 3px;
  position: relative;
  float: left;
  margin-bottom: 30px;
}
.search:before,
.search:after {
  display: table;
  content: "";
}
.search:after {
  clear: both;
}
.search:hover {
  box-shadow: 0 0 0 3px #ff8400;
  border-color: #ff8400;
}
.search input[type="text"] {
  border: none;
  box-shadow: none;
  min-height: 35px;
  width: 80%;
  font-size: 16px;
  margin-left: 2%;
  float: left;
  outline: none;
  font-family: 'FranckerCYR-ExtraLight', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}
.search input[type="submit"] {
  background: #ff8400 url(../img/search.svg) center no-repeat;
  background-size: 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  height: 30px;
  width: 8%;
  min-width: 30px;
  float: right;
  margin: 4px 1%;
  font-family: 'FranckerCYR-ExtraLight', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
  /*&:hover {
            background: darken(@color-main, 15%) url(../img/search.svg) center no-repeat;
            background-size: 23px;
        }*/
}
.search__active {
  box-shadow: 0 0 0 3px #ff8400;
  border-color: #ff8400;
}
.search--label {
  font-size: 0.75em;
  display: block;
  position: absolute;
  bottom: -25px;
  left: 2%;
  width: 100%;
}
.search--label a {
  border-bottom: 1px solid #ff8400;
}
.search--label a:hover {
  text-decoration: none;
}
.catalog-menu {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.catalog-menu ul {
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.catalog-menu li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.catalog-menu a {
  text-decoration: underline;
  font-size: 0.9em;
  color: #1a1a1a;
}
.catalog-menu a:hover {
  color: #ff8400;
}
.page-footer {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-footer:before,
.page-footer:after {
  display: table;
  content: "";
}
.page-footer:after {
  clear: both;
}
.page-footer--payment-method {
  border-bottom: 1px dashed #333333;
  text-align: center;
  margin-bottom: 20px;
}
.page-footer--payment-method img {
  margin: 50px auto 30px;
  text-align: center;
}
.page-footer--wrp {
  margin: 3% 0;
}
.page-footer--wrp:before,
.page-footer--wrp:after {
  display: table;
  content: "";
}
.page-footer--wrp:after {
  clear: both;
}
.page-footer__footer-nav:before,
.page-footer__footer-nav:after {
  display: table;
  content: "";
}
.page-footer__footer-nav:after {
  clear: both;
}
.page-footer__footer-nav .footer-nav--wrp {
  width: 50%;
  float: left;
}
.page-footer__footer-nav .footer-nav--wrp ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-footer__footer-nav .footer-nav--wrp ul a {
  text-decoration: underline;
}
.page-footer__footer-nav .footer-nav--wrp ul a svg {
  fill: #1a1a1a;
  transition-duration: 0.2s;
}
.page-footer__footer-nav {
  width: 100%;
}
.page-footer__footer-subscription {
  width: 100%;
  border-top: 1px dashed #333333;
  margin-top: 20px;
  padding-top: 20px;
}
.page-footer__footer-subscription .footer-subscription__form-subscription.form-subscription {
  max-width: 480px;
  margin: auto;
  display: block;
}
.page-footer__footer-subscription .footer-subscription__social {
  max-width: 480px;
  margin: 30px auto;
}
.page-footer__footer-subscription .footer-subscription__social:before,
.page-footer__footer-subscription .footer-subscription__social:after {
  display: table;
  content: "";
}
.page-footer__footer-subscription .footer-subscription__social:after {
  clear: both;
}
.page-footer__footer-subscription .footer-subscription__social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: justify;
  /* Обнуляем для родителя*/
  line-height: 0;
  font-size: 1px;
  /* 1px для Opera */
  /* Лекарство для IE6-7*/
  text-justify: newspaper;
}
.page-footer__footer-subscription .footer-subscription__social ul li {
  padding: 0;
  display: inline-block;
  /* Востанавливаем у потомков, кроме последнего*/
  line-height: normal;
  font-size: 14px;
}
.page-footer__footer-subscription .footer-subscription__social ul li.hide {
  width: 100%;
  height: 0;
  visibility: hidden;
}
.page-footer__footer-subscription .footer-subscription__social ul li a {
  width: 30px;
  height: 30px;
}
.page-footer__footer-subscription .footer-subscription__social ul li a:hover svg {
  fill: #ff8400;
  transition-duration: 0.2s;
}
.page-footer__footer-subscription .footer-subscription__social ul li a svg {
  fill: #1a1a1a;
  transition-duration: 0.2s;
}
.page-footer__copyright.copyright {
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: 50px;
  background-color: #333333;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 20px;
  padding-top: 12px;
}
/*.page-footer {
 
 &--wrp {
 
 }
 
 &__footer-nav {
 float: left;
 width: 60%;
 .clearfix();
 }
 
 .footer-nav {
 //width: 900px;
 float: left;
 
 &--wrp {
 float: left;
 width: 50%;
 
 &--last {
 margin-top: 0;
 width: 50%;
 }
 }
 
 &__name { font-weight: bold; }
 
 &__phone { width: auto; }
 
 ul {
 margin: 0;
 padding: 0;
 
 li {
 margin: 0;
 padding: 0;
 list-style: none;
 }
 }
 }
 
 &__footer-subscription {
 float: left;
 width: 40%;
 
 form { margin-bottom: 15px; }
 
 ul {
 margin: 0;
 padding: 0;
 
 li {
 list-style: none;
 float: left;
 padding: 5px;
 
 a {
 width: 30px;
 height: 30px;
 
 svg {
 fill: @gray-darkest;
 transition-duration: 0.2s;
 }
 
 &:hover svg {
 fill: @gray-darker;
 transition-duration: 0.2s;
 }
 }
 }
 }
 
 .telegramm {
 display: inline-block;
 width: 100%;
 float: left;
 
 svg {
 fill: @color-main;
 transition-duration: 0.2s;
 margin: 0 5px 0 10px;
 }
 }
 }
 }
 
 
 }*/
.footer-subscription .footer-subscription--label {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin-top: 0.6875em;
  margin-bottom: 0.6875em;
}
.footer-subscription .footer-subscription--email-input {
  width: 100%;
  height: 45px;
  box-shadow: inset 1px 1px 3px #adadad;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: 1.1em;
  padding: 15px;
}
.footer-subscription .footer-subscription--button {
  width: 40%;
  height: 45px;
  float: left;
  border: none;
  margin: 15px 0 0;
  border-radius: 5px;
  background-color: #009ddb;
  color: #ffffff;
  font-size: 1.1em;
}
.footer-subscription .footer-subscription--caption {
  display: table-cell;
  vertical-align: middle;
  padding: 23px 15px 23px 20px;
  width: 60%;
  height: 80px;
}
h1.site-name {
  text-align: center;
  font-weight: 200;
}
.price-list {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.price-list h2 {
  padding-left: 30px;
}
.price-list .price-list--section {
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.price-list .price-list--section h3 {
  page-break-before: always!important;
}
.price-list .price-list--section h3:first-child {
  page-break-before: auto!important;
}
.wrp {
  page-break-inside: avoid !important;
}
.floating-button {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 20px;
  text-align: center;
}
.floating-button div {
  display: inline-block;
  padding: 10px 20px;
  background: #ff8400;
  border-radius: 3px;
  font-size: 1.25em;
  color: #ffffff;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0 5px;
}
.table-responsive {
  width: 100%;
  border-collapse: collapse;
  /*@media (max-width: (@screen-md - 1)) {
        display: block;
        border: 0;
    }*/
}
.table-responsive caption {
  /*@media (max-width: (@screen-md - 1)) {
            display: block;
            width: 100%;
            text-align: left;
        }*/
}
.table-responsive thead tr {
  height: 40px;
}
.table-responsive tbody {
  /*@media (max-width: (@screen-md - 1)) {
            display: block;
            width: 100%;
        }*/
  page-break-inside: avoid !important;
}
.table-responsive tbody tr {
  border: 1px solid #cccccc;
  /*@media (max-width: (@screen-md - 1)) {
                display: block;
                border: 1px solid @gray-lighter;
                border-bottom: 0;

                &:not(: last-child) { margin-bottom: @line-height; }
            }*/
}
.table-responsive tbody tr.product-header-wrp {
  page-break-before: avoid;
}
.table-responsive tbody td {
  border: 1px solid #cccccc;
  padding: 10px 20px;
  margin: 0;
  /*@media (max-width: (@screen-md - 1)) {
                display: block;
                width: 100%;
                border-right: 0 !important;
                border-left: 0 !important;

                &:before {
                    display: block;
                    font-weight: 700;
                    content: attr(data-label);
                }
            }*/
}
.table-responsive tbody td.img {
  text-align: center;
  padding: 0;
  min-width: 150px;
}
.table-responsive tbody td.img img {
  max-width: 150px;
  max-height: 150px;
}
.table-responsive tbody td.price-rub {
  white-space: nowrap;
  padding: 0 20px;
  text-align: center;
  /*@media (max-width: (@screen-md - 1)) { text-align: left; }*/
}
.table-responsive tbody td.product-header {
  min-height: 50px;
}
.table-responsive tbody td .available {
  font-size: 1.875em;
  color: #b3b3b3;
}
.table-responsive tbody td .available--many {
  color: #5cb75c;
}
.table-responsive tbody td .available--mean {
  color: #ff8400;
}
.table-responsive tbody td .available--poco {
  color: #d8544f;
}
.table-responsive tbody td .product-name {
  font-family: 'Balloon XBd TL', 'FranckerCYR-ExtraLight', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  text-transform: uppercase;
  font-size: 1.875em;
  color: #ff8400;
  /*@media (max-width: (@screen-md - 1)) {
                    display: inline-block;
                    width: 100%;
                }*/
}
.table-responsive tbody td .label {
  display: inline-block;
  border-radius: 3px;
  background: #009ddb;
  color: #ffffff;
  padding: 3px 10px 0;
  margin: 3px;
  font-size: 1.25em;
  line-height: 1.5em;
  float: right;
}
.table-responsive tbody td .label--green {
  background: #5cb75c;
}
.table-responsive tbody td .label--red {
  background: #d8544f;
}
.table-responsive tbody td .hs {
  /* Полупробел для
                 разделения разрядов чисел:
                 10<span class="hs"></span>000 */
  margin-left: .2em;
}
.table-responsive tbody td img {
  vertical-align: middle;
  padding: 10px;
}
/*// Для импорта в диспетчер подключений: @import './src/blocks/table-responsive/table-responsive.less';
@import '../../less/variables.less'; // только для удобства обращения к переменным

//------------------------------------------------------------------------------
//  Адаптивные таблицы (требуют наличия атрибутов data-label на тегах td)
//------------------------------------------------------------------------------
.table-responsive {
    width: 100%;
    border-collapse: collapse;

    @media (max-width: (@screen-md - 1)) {
        display: block;
        border: 0;
    }

    caption {
        @media (max-width: (@screen-md - 1)) {
            display: block;
            width: 100%;
            text-align: left;
        }
    }

    thead {
        tr { height: 40px; }

        @media (max-width: (@screen-md - 1)) { display: none; }
    }

    tbody {
        @media (max-width: (@screen-md - 1)) {
            display: block;
            width: 100%;
            page-break-inside: avoid !important;
        }

        tr {
            border: 1px solid @gray-lighter;

            &.product-header-wrp { page-break-before: avoid; }

            @media (max-width: (@screen-md - 1)) {
                display: block;
                border: 1px solid @gray-lighter;
                border-bottom: 0;

                &:not(: last-child) { margin-bottom: @line-height; }
            }
        }

        td {
            border: 1px solid @gray-lighter;
            padding: 10px 20px;
            margin: 0;

            &.img { text-align: center; }

            &.price-rub {
                padding: 0 20px;
                text-align: center;

                @media (max-width: (@screen-md - 1)) { text-align: left; }
            }

            &.product-header { min-height: 50px; }

            .available {
                font-size: @font-size--h2;
                color: @gray-lighter;

                @media print { color: @gray-lighter !important; }

                &--many { color: @color-success; }

                &--mean { color: @color-main; }

                &--poco { color: @color-danger; }
            }

            .product-name {
                font-family: @font-brand;
                text-transform: uppercase;
                font-size: @font-size--h2;
                color: @color-main;
                padding-left: 10px;

                @media (max-width: (@screen-md - 1)) {
                    display: inline-block;
                    width: 100%;
                }
            }

            .label {
                display: inline-block;
                border-radius: @border-radius;
                background: @color-blue;
                color: @white;
                padding: 3px 10px 0;
                margin: 3px;
                font-size: @font-size--h4;
                line-height: @font-size--h3;
                float: right;

                @media (max-width: (@screen-md - 1)) { float: none; }

                &--green { background: @color-success; }

                &--red { background: @color-danger; }
            }

            .hs {
                margin-left: .2em;
            }

            img {
                vertical-align: middle;
                padding: 10px;
            }

            @media (max-width: (@screen-md - 1)) {
                display: block;
                width: 100%;
                border-right: 0 !important;
                border-left: 0 !important;

                &:before {
                    display: block;
                    font-weight: 700;
                    content: attr(data-label);
                }
            }
        }
    }
}*/
@media (min-width: 480px) {
  dd {
    margin-left: 1.8em;
  }
  blockquote {
    padding: 0 0 0 1.8em;
    margin-left: 0;
    border-left-width: 5px;
  }
  .page-header {
    width: 100%;
  }
  .page-header--logo {
    float: left;
    width: 30%;
    margin: 20px 0;
    max-width: 180px;
  }
  .page-header--phone {
    width: 45%;
    max-width: 215px;
    float: right;
  }
  .page-header--search {
    width: 100%;
    margin-top: 2px;
  }
  .phone {
    float: right;
    margin: 0;
    background: url(../img/smartphone.svg) left no-repeat;
    background-size: 25px;
    padding-left: 12%;
  }
  .search--label {
    bottom: -35px;
  }
  .page-footer {
    width: 100%;
  }
  .footer-subscription .footer-subscription--caption {
    padding-top: 16px;
  }
  .price-list {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .page-header {
    width: 100%;
  }
  .page-header--site-menu {
    float: right;
    width: 70%;
    min-height: 80px;
    margin: 15px 0 0;
  }
  .page-header--phone {
    width: 30%;
    max-width: 220px;
    margin: 7px 2%;
  }
  .page-header--search {
    width: 66%;
    float: left;
  }
  .page-footer {
    width: 100%;
  }
  .page-footer__footer-nav .footer-nav--wrp {
    width: 33.33333333%;
  }
  .price-list {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .page-header {
    width: 962px;
  }
  .catalog-menu a {
    text-decoration: none;
  }
  .page-footer {
    width: 962px;
  }
  .page-footer__footer-nav .footer-nav--wrp {
    width: 50%;
  }
  .page-footer__footer-nav .footer-nav--wrp {
    width: 33.33333333%;
  }
  .page-footer__footer-nav {
    width: 70%;
    float: left;
  }
  .page-footer__footer-subscription {
    width: 30%;
    float: left;
    border: none;
    margin-top: 0;
    padding-top: 0;
  }
  .price-list {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1170px;
  }
  .page-header--logo {
    min-width: 280px;
    margin: 20px 0;
  }
  .page-header--site-menu {
    min-height: auto;
    margin-top: 20px;
  }
  .page-header--search {
    width: 48%;
    float: right;
    margin-top: 14px;
  }
  .page-header--catalog-menu {
    margin-top: 15px;
  }
  .page-header--site-menu ul {
    text-align: left;
  }
  .page-header--site-menu a {
    font-size: 16px;
  }
  .catalog-menu li {
    margin-right: 30px;
  }
  .catalog-menu a {
    font-size: 1em;
  }
  .page-footer {
    width: 1170px;
  }
  .price-list {
    width: 1170px;
  }
}
@media (min-width: 1800px) {
  .page-header {
    width: 1770px;
  }
  .page-header--site-menu {
    width: 55%;
    float: left;
    margin-left: 5%;
    margin-top: 25px;
  }
  .page-header--phone {
    width: 30%;
    max-width: 300px;
    margin: 30px 2%;
  }
  .page-header--search {
    width: 54%;
    float: left;
    margin-left: 4%;
    margin-top: 14px;
  }
  .page-header--site-menu li {
    margin-right: 30px;
  }
  .phone {
    background-size: 30px;
  }
  .phone--number {
    font-size: 1.875em;
  }
  .phone--distr {
    font-size: 1.25em;
  }
  .catalog-menu li {
    margin-right: 60px;
  }
  .catalog-menu a {
    font-size: 1.2em;
  }
  .page-footer {
    width: 1770px;
  }
  .page-footer__footer-nav .footer-nav--wrp {
    width: 25%;
  }
  .page-footer__footer-nav {
    width: 66%;
  }
  .page-footer__footer-subscription {
    width: 20%;
    float: right;
  }
  .price-list {
    width: 1770px;
  }
}
@media print {
  body {
    font-size: 7pt;
  }
  .page-header {
    width: 25cm;
  }
  .page-header--logo {
    min-width: 150px;
    width: 150px;
  }
  .page-header--site-menu {
    display: none;
  }
  .page-header--phone {
    margin: 20px 0;
    width: 40%;
  }
  .page-header--search {
    display: none;
  }
  .page-header--catalog-menu {
    display: none;
  }
  .page-footer {
    width: 25cm;
  }
  .page-footer {
    border-bottom: 1px dashed #333333;
    height: 15px;
  }
  .page-footer--payment-method {
    display: none;
  }
  .page-footer__footer-nav {
    display: none;
  }
  .page-footer__footer-subscription {
    display: none;
  }
  h1.site-name {
    text-align: left;
    font-weight: 400;
  }
  .price-list {
    width: 25cm;
  }
  .price-list h2 {
    padding: 0;
  }
  .price-list .price-list--section {
    padding: 0;
  }
  .floating-button {
    display: none;
  }
  .table-responsive tbody td.price-rub {
    text-align: left;
  }
  .table-responsive tbody td .available {
    color: #cccccc !important;
  }
  .table-responsive tbody td .product-name {
    display: inline-block;
    width: 100%;
  }
  .table-responsive tbody td .label {
    float: none;
    padding: 0;
    margin: 0 6px 0 0;
  }
  @page {
    size: landscape;
  }
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  a[href^='tel:'] {
    text-decoration: none !important;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  a[href^='#']:after,
  a[href^='tel:']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999 !important;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  table {
    border-collapse: collapse !important;
  }
  table td,
  table th {
    background-color: #fff !important;
  }
}
@media (max-width: 767px) {
  .page-header--site-menu {
    display: none;
  }
  .page-header--catalog-menu {
    display: none;
  }
  .table-responsive thead {
    display: none;
  }
  .table-responsive tbody td .label {
    float: none;
  }
}
@media (max-width: 992px) {
  .floating-button {
    display: none;
  }
}

/*# sourceMappingURL=style.min.css.map */
