.form-carcam {
	padding: 20px;
	margin-bottom: 50px;
	background-color: #eee;
}
.form-note {
	padding: 10px;
	margin: 10px 0;
	background: none repeat scroll 0 0 #F2FAE3;
    border: 1px solid rgba(101, 159, 19, 0.3);
    color: #659F13;
}
form[name^=SIMPLE_FORM_] table {
	width: 100%;
}
form[name^=SIMPLE_FORM_] td+td {
	text-align: right;
}
form[name^=SIMPLE_FORM_] td {
	padding: 5px 0;
}
form[name^=SIMPLE_FORM_] input[type=text] {
	width: 100%;
}
form[name^=SIMPLE_FORM_] .btn-main {
	padding: 10px 40px;
	margin: 10px 0;
}
.form-carcam img {
	max-width: 100%;
}