a, a:hover {color: #FFF; text-decoration: none;}

.main{
	width:1240px;}
#inner-wrapper {width: 75%; margin: 0 auto; overflow:hidden; float:left;}


.static_div{width:25%; height:100%; position:relative; float:left; overflow:hidden;}
.static_price{
	width: 25%;
	height:10%;
	position:fixed;
	overflow:hidden;
	}




#header {height: 100%; background: #069;}
#header h1 {font-size: 32px; line-height: 36px; color: #FFF; padding: 70px 0 0 30px; margin: 0 0 14px;}
#content {min-height: 400px; overflow: hidden; padding: 20px 5%; color: #000; border:1px solid #f0f0f0; border-width: 0 1px}
#footer {background: #f0f0f0; height: 25px; color: #777; padding: 10px;}

#menu {background: #fff; position:fixed;}
#menu > ul {margin: 0; padding: 0; list-style-type: none;}
#menu > ul:after {content: " "; display: block; line-height: 0; height: 0; width: 100%; clear: both;}
#menu > ul > li {float: left;}
#menu > ul > li + li {margin-left: 5px;}
#menu > ul > li > a {
	display: block; padding: 6px 12px; color: #222;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
#menu > ul > li > a:hover {background: #E76600; color:#fff;}

.post {width: 90%; margin-right: 5%; float: left; text-align: justify;}
.post.last {margin-right: 0;}
.post .post-title {text-transform: uppercase;}

#ex2 .post,
#ex3 .post,
#ex4 .post {width: 45%; margin-right: 10%;}
#ex2 .post.last,
#ex3 .post.last,
#ex4 .post.last,
#ex5 .post.last {margin-right:0;}
.separator {clear: both; overflow: hidden; height: 50px;}
@media only screen and (max-width:960px){
	#inner-wrapper {width: 80%;}
}

/* Back to top button */
#back-to-top{
	position:fixed; 
	z-index: 999; 
	display:none; 
	bottom:70px; 
	right:15px; 
	cursor:pointer;
}
#back-to-top i{
	width: 50px; 
	height: 50px; 
	display:block; 
	color: #fff; 
	background: #26ADE4 ; 
	text-align:center; 
	font-size:16px; 
	line-height: 50px; 
	border-radius: 5px;
	-webkit-transition:  .3s all;
	   -moz-transition:  .3s all;
	    -ms-transition:  .3s all;
	     -o-transition:  .3s all;
	        transition:  .3s all;
}
#back-to-top i:hover{background:#333;}


.grid {
	position: relative;
	margin: 0 auto;
        width:100%;
	list-style: none;
	text-align: center;
display:inline-block;
}

/* Common style */


.grid a:hover {color:#222;}

.grid figure {

	position: relative;
	float: left;
margin-left:1%;
	overflow: hidden;
	margin-bottom:50px;
	min-width:120px;
	max-width: 480px;
	max-height: 360px;
	width:100%;
	background: #fff;
	text-align: left;
	cursor: pointer;
   border-bottom: #ff8b00 solid 1px;


}

.grid figure img {
	position: relative;
	display: block;

    height:auto;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption a:hover{color:#000000 !important;}




.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}







/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}




.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
margin-right:50px;
	letter-spacing: 0.2;
	font-size: 68.5%;
}

/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 5.75em;
	background: #ff8b00;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}



figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {


        margin-left:200px;
	position: absolute;
	bottom: 12em;

	color: #222;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {

	display: inline-block;
	padding: 2px 2px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';

}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;

}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;}




