.basket-big-page{
	h2{
		font-size: em(30px);
		font-weight: bold;
		margin-bottom: 25px;
	}

	.btn-delete{
		float: right;
		display: inline-block;
		position: relative;
		top: 6px;
	}
	
	.um_tabs{
		margin-bottom: 20px;
	}
	.um_tabs>a{
		padding: 7px 15px 9px;
		margin-right: 15px;
		text-align: center;

		&.basket-btn{
			&>i:before{
				position: relative;
				top: -1px;
				font-size: 22px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&.waitlist-btn{
			&>i:before{
				position: relative;
				top: -1px;
				left: -3px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&.active{
			position: relative;
			top: 1px;
		}
	}/* .um_tabs>a */

	footer{
		margin-top: 25px;
		text-align: justify;

		.btn-return, .btn-main{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 250px;
			height: 50px;
			line-height: 48px;
			text-align: center;

			font-size: em(18px);
			font-weight: bold;

			&:active{
				top: 1px;
			}
		}
		.btn-main{
			line-height: 48px;
		}
		.btn-return{
			&:before{
				top: 12px;
			}
		}

		.one-click-buy-wrap{
			display: inline-block;
			vertical-align: middle;
			text-align: center;
		}

		.helper{
			font-size: 12px;
			display: block;
			padding-left: 20px;
		}
		.shopping-bg{
			display: inline-block;
			position: relative;
			z-index: -1;
			width: 100%;
			line-height: 1.095236;

			text-align: center;
			&>i:before{
				font-size: 300px;
			}
		}/* .shopping-bg */

		@media (max-width: 991px){
			.one-click-buy-wrap{
				display: none;
			}
			.shopping-bg{
				height: 0;
				overflow: hidden;
			}
		}

		@media (max-width: 767px){
			.btn-return{
				display: none;
			}
		}
	}/* footer */
	
	@media (max-width: 767px){
		.btn-delete{
			position: relative;
			top: -10px;
		}
		.um_tabs{
			display: block;
			clear: both;
			margin-top: 10px;
			.um_tab{
				display: inline-block;
				width: 50%;
				margin-right: 0;
				& + .um_tab{
					margin-left: -4px;
				}
				>i{
					display: none;
				}
			}
			>a{
				padding: 7px 5px 9px;
			}
		}
	}
	
}/* .basket-big-page */
