.basket-small{
	.discount{display: none;}
	.sum{ display: none;}
	tfoot{ display: none;}
	//.art{ display: none;}
}
.basket-big{
	.rating-stars{display: none;}
	border-top: 1px solid silver;
}
.items-table{
	width: 100%;
	.price, .availability, .discount, .sum, .actions{ text-align: center;}
	th{ padding: 10px 5px; text-align: center;}
	td{ padding: 15px 5px;}
	thead>tr{
		border-bottom: 1px solid;
	}
	
	.totals{
		float: right;
		position: relative;
		
		.text{
			font-size: 14px;
		}
		.value{
			font-weight: bold;
			font-size: 16px;
		}

		td{
			padding: 0px 3px;
			text-align: right;
		}
		.final-total{
			td{
				padding-top: 7px;
			}
			.text{ font-size: 16px;}
			.value{ font-size: 20px;}
		}
	}
	tfoot>tr>td{
		padding: 10px 15px 10px;
	}
	.coupon-wrap{
		.text{
			display: inline-block;
			vertical-align: middle;
			font-size: 16px;
			font-weight: normal;
			margin-right: 10px;
			margin-left: 10px;
		}
		input{
			display: inline-block;
			vertical-align: middle;
			width: 210px;
		}
	}
	.apply-coupon{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 41px;
		height: 41px;
		top: 0px;
		&:active{
			top: 1px;
		}
	}

	@media (max-width: 991px){
		.discount{
			display: none;
		}
	}
	@media (max-width: 767px){
		thead{
			display: none;
		}
		.coupon-wrap{
			margin-top: 15px;
			clear: both;
			>.text{
				display: block;
				margin-left: 0;
				margin-bottom: 5px;
			}
		}
	}
}

.table-item{
	@include transition(false, background);
	& + .table-item{
		border-top: 1px dashed;
	}
	td{
		min-height: 100px;
	}
	.photo{
		min-width: 100px;
		text-align: center;
		a{ width: 100%;}
		img{
			max-width: 100%;
			max-height: 100px;
		}
	}
	.name{
		text-align: left;

		@media (min-width: 768px) and (max-width: 991px){
			width: 100%;
		}
		
	}
	.rating-stars{
		display: none;

		.popup_compare &, .popup_favorites &{
			display: block;
		}
	}
	.art{
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.sku{
		display: inline;
		
		.ik_select, select{
			margin-top: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
	.price{
		min-width: 100px; // to fit 999 999 P and some more
		font-size: em(16px);
		text-align: center;
		font-weight: bold;
		.tooltip{ font-weight: normal;}
		.price-old{
			font-weight: normal;
			text-decoration: line-through;
			font-size: em(13px, 16px);
		}
	}

	.availability{
		min-width: 124px; // to fit "нет в наличии"
		max-width: 150px; // to limit text for "под заказ"
		width: 125px; // just for lulz.
		text-align: center;
		// .in-stock, .out-of-stock{
		// 	white-space: nowrap;
		// 	padding: 5px 10px;

		// 	font-size: em(11px);
		// 	font-weight: bold;
		// 	text-transform: uppercase;
		// }
		// .in-stock{ display: inline-block;}
		// .out-of-stock{ display: none;}

		.tooltip{
			min-width: 150px;
		}
	}
	.availability-info{
		max-width: 150px; // to limit text for "под заказ"
	}

	&.out-of-stock{
		// .availability{
			// .in-stock{ display: none;}
			// .out-of-stock{ display: inline-block;}
			.quantity-counter{ display: none;}
		// }
	}
	.sum{
		white-space: nowrap;
		font-weight: bold;
		font-size: em(16px);
	}
	.actions{
		white-space: nowrap;
	}
	@media (min-width: 992px){
		.actions{
			button + .tooltip{
				display: none !important;
			}
		}
	}
	@media (max-width: 991px){
		.discount{
			display: none;
		}
		.actions{
			white-space: normal;
			.btn-text{
				display: none;
			}
			.btn-to-waitlist, .btn-delete{
				padding-top: 0;
				width: 35px;
				height: 35px;
				>i{ 
					position: relative;
					top: 0;
				}
				@include transition('i', color, .2s);
			}
			.btn-to-waitlist{
				margin-right: 0 !important;
			}
		}
	}

	@media (max-width: 767px){
		display: block;
		text-align: left;
		position: relative;
		@include clearfix;
		padding-bottom: 9px;
		td{
			display: block;
			min-height: 0;
		}
		.photo{
			float: left;
			padding: 25px 5px 0;
			width: 100px;
			height: 100px;
			>img{
				max-height: 100%;
				max-width: 100%;
			}
		}
		.name{
			display: block;
			padding-top: 25px;
			padding-bottom: 0;
		}
		.art{
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
		}
		.rating-stars{display: none !important;}
		.sku{
			padding-right: 40px;
			margin-top: 5px;
		}
		.price{
			position: absolute;
			left: 0px;
			width: 100px;
			top: 0px;
			padding: 0;
			padding-top: 1px;
			text-align: center;
			.price-old{
				display: none;
			}
			background: rgba(255,255,255,0.7);
		}
		.actions{
			position: absolute;
			right: 3px;
			bottom: 10px;
			padding: 0;
			.btn-to-waitlist, .btn-delete{
				display: block;
				margin-top: 5px !important;
			}
		}
		.availability{
			display: inline-block;
			position: relative;
			margin-top: 5px;
			padding: 0;
			padding-right: 40px;
			width: 258px; // magic!
			max-width: none;
			@include clearfix;
			text-align: right;
			

			//position: absolute;
			//left: 5px;
			//bottom: 9px;
			//padding: 0px;
			//width: 212px; // magic!
			//text-align: right;
			.quantity-counter{
				margin: 0;
				margin-left: 5px;
				position: relative;
				z-index: 1;
				float: right;
			}
			.availability-info{
				display: block;
				text-align: left;
				padding-top: 6px;
				margin: 0px 5px 0 5px;
				min-height: 35px;
				//line-height: 33px;
				.text{
					white-space: normal;
				}
				>div{
					line-height: normal;
				}

				.info-tag{
					display: inline-block;
					vertical-align: top;
				}
				.info-info{
					margin-top: 10px;
					padding-left: 1px;
				}

				//position: absolute;
				//bottom: 6px;
				//left: 0px;
			}
		}

		.when-in-stock{ display: block;}
		&.available-for-order, .available-for-order, .available-for-order &{
			.when-in-stock{display: none;}
			.when-available-for-order{ display: block;}
		}
		&.out-of-stock, .out-of-stock, .out-of-stock &{
			.when-in-stock{ display: none;}
			.when-out-of-stock{ display: block;}
		}

		.sum{display: none;}
	}
}