.brands-catalog{
	margin-bottom: 20px;

	text-align: justify;
	line-height: 0;
	&:after{
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 0;
	}
	.brand{
		margin-top: 15px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 60px;
		line-height: 56px;
		max-width: 200px;
		padding: 2px 17px;
		margin-right: 20px;
		text-align: center;
		border-radius: 3px;

		white-space: nowrap;
		&:hover{ cursor: pointer;}

		&>.brand-img{
			display: inline-block;
			height: 100%;
			&>img{
				max-height: 100%;
				max-width: 100%;
			}
		}
		&>sup{
			font-weight: bold;
		}

		&.active{
			padding: 0px 15px;
			border-width: 2px;
			border-style: solid;
		}

		&.disabled{
			&:hover{ cursor: default;}
		}
	}/* .brand */
}/* .brands-catalog */