.categories{
	clear: both;
	display: none;
	position: relative;
	z-index: 1;
	$width: 100% / 7;
	@include clearfix;
	
	>.container, >.container-fluid{ 
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.wrapper{
		overflow: hidden;
		position: relative;
	}
	.slides{
		margin-bottom: -17px;
		width: 100%;
		height: auto !important;
		overflow: auto;
		white-space: nowrap;
		text-align: center;

		&.baron_h{
			.slide{
				padding-bottom: 50px;
			}
		}
	}
	.slide{
		display: inline-block;
		vertical-align: top;
		width: $width;
		margin-right: -4px;
		padding: 20px 10px 32px;

		& + .slide{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: -1px;
				top: 20px;
				height: 85px;
				border-right: 1px solid;
				border-left: 1px solid;
			}
		}

		&:hover{
			.img-wrap, .category-name{
				transition: opacity .3s;
				opacity: 0.7;
			}
		}
	}
	.img-wrap{
		width: 100%;
		height: 55px;
		line-height: 55px;
		text-align: center;

		img{display: inline-block;vertical-align: bottom;}
	}
	.category-name{
		display: block;
		margin-top: 10px;
		text-align: center;
	}

	.scroller__track_h{
		left: 30%;
		right: 30%;
		@include scroller__track_h;
	}
	.scroller__bar_h{
		@include scroller__bar_h;
		&:before{
			line-height: 16px;
		}
	}
	@media (max-width: 767px){
		display: none;
	}
}
[data-categories-enabled="true"]{
	display: block;
	@media (max-width: 767px){
		display: none;
	}
}