.simple-slider{
	position: relative;
	width: 100%;
	&:hover{
		cursor: pointer;
	}

	&.noUi-connect {
		height: 8px;
		border-radius: 4px;
		border: 1px solid;
	}
	&.noUi-horizontal .noUi-handle {
		width: 18px;
		height: 18px;
		left: -9px;
		top: -6px;

		border-radius: 50%;
		transition: all .3s;
		&:before{
			content: '';
			position: absolute;
			top: 4px;right: 4px;bottom: 4px;left: 4px;
			border-radius: 50%;
			transition: all .3s;
		}
	}
	.noUi-origin{
		height: 6px;
		border-radius: 3px;
	}
}

.range-slider{
	position: relative;
	width: 90%;
	margin: 50px auto 30px;
	/* Slider size and handle placement;
	 */
	&.noUi-horizontal {
		height: 5px;
	}
	&.noUi-horizontal .noUi-handle {
		width: 11px;
		height: 16px;
		left: -6px;
		top: 10px;
	}
	.noUi-vertical {
		width: 18px;
	}
	.noUi-vertical .noUi-handle {
		width: 28px;
		height: 34px;
		left: -6px;
		top: -17px;
	}

	/* Styling;
	 */
	.noUi-connect{
		height: 7px;
		top: -1px;
		border: 1px solid;
		border-radius: 2px;
	}
	.noUi-origin.noUi-background {
		border-radius: 0px 4px 4px 0px;
		border: 1px solid;
		border-left-width: 0;
		height: 7px;
		top: -1px;

		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			height: 7px;
			top: 0;
			bottom: 0;
			left: -1px;
			margin: auto;
			width: 2px;
			border: 1px solid #fff;
			border-right-width: 0;
		}
	}
	&.noUi-target {
		border-radius: 4px;
		
	}
	.noUi-origin.noUi-connect {
		&:hover{ 
			cursor: pointer;
		}
	}

	/* Handles and cursors;
	 */
	.noUi-dragable {
		cursor: w-resize;
	}
	.noUi-vertical .noUi-dragable {
		cursor: n-resize;
	}
	.noUi-handle {
		position: relative;
		border: 1px solid;
		border-top-width: 0;
		border-radius: 0px 0px 3px 3px;
		cursor: pointer;
		transition: opacity .2s;
		
		&:hover{
			opacity: 0.8;
		}
	}
	



	.handle-inner{
		width: 100%;
		height: 100%;
		.text{
			position: absolute;
			left: 12px;
			font-size: 10px;
			padding-left: 2px;
			padding-right: 2px;
			border: 1px solid;
			border-radius: 3px;
			white-space: nowrap;
		}

		.arrow{
			z-index: 1;

			width: 11px;
			border-width: 5px;
			border-bottom-color: black;

			top: -5px;
			left: -1px;

			&:before, &:after{ content: '';}

			&:before{
				width: 9px;
				border-width: 4px;
				border-bottom-color: #818181;
				
				top: 1px;
				left: -4px;
			}
			&:after{
				width: 7px;
				border-width: 3px;
				border-bottom-color: #474747;

				top: 2px;
				left: -3px;
			}

			&, &:before, &:after{
				position: absolute;
				height: 0;
				border-style: solid;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top-width: 0px;
			}

		}

		.stripes{
			position: absolute;
			width: 5px;
			height: 7px;
			top: 0;right: 0;bottom: 0;left: 0;margin: auto;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;

			&:before{
				content: '';
				position: absolute;
				width: 1px;
				height: 7px;
				background: #fff;
				left: 1px;
				top: 0;
			}
		}/* .stripes */
	}/* .handle-inner */

	.noUi-handle-lower>.handle-inner>.text{
		left: auto;
		right: 12px;
	}
	

	/* Disabled state;
	 */
	[disabled].noUi-connect,
	[disabled] .noUi-connect {
		background: #B8B8B8;
	}
	[disabled] .noUi-handle {
		cursor: not-allowed;
	}


	/* Base;
	 *
	 */
	.noUi-pips,
	.noUi-pips * {
	-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.noUi-pips {
		font-weight: bold;
		font-size: 12px;
		color: #000;
	}

	/* Values;
	 *
	 */
	.noUi-value {
		width: 50px;
		position: absolute;
		text-align: center;
		white-space: nowrap;
	}
	.noUi-value-sub {
		color: #000;
		font-size: 10px;
	}

	/* Markings;
	 *
	 */
	.noUi-marker {
		position: absolute;
		background: #000;
	}
	.noUi-marker-sub {
		background: #000;
	}
	.noUi-marker-large {
		background: #000;
	}

	/* Horizontal layout;
	 *
	 */
	.noUi-pips-horizontal {
		position: absolute;
		padding: 0px 0;
		height: 30px;
		bottom: 10px;
		left: 0;
		width: 100%;
	}
	.noUi-value-horizontal {
		margin-left: -25px;
		padding-top: 0px;

	}
	.noUi-value-horizontal.noUi-value-sub {
		padding-top: 2px;
	}

	.noUi-marker-horizontal.noUi-marker {
		margin-left: -1px;
		width: 1px;
		height: 6px;
		top: 20px;
	}
	.noUi-marker-horizontal.noUi-marker-sub {
		height: 6px;
	}
	.noUi-marker-horizontal.noUi-marker-large {
		height: 12px;
	}

	/* Vertical layout;
	 *
	 */
	.noUi-pips-vertical {
		padding: 0 10px;
		height: 100%;
		top: 0;
		left: 100%;
	}
	.noUi-value-vertical {
		width: 15px;
		margin-left: 20px;
		margin-top: -5px;
	}

	.noUi-marker-vertical.noUi-marker {
		width: 5px;
		height: 2px;
		margin-top: -1px;
	}
	.noUi-marker-vertical.noUi-marker-sub {
		width: 10px;
	}
	.noUi-marker-vertical.noUi-marker-large {
		width: 15px;
	}

}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
	*z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}