.sly-scroll{
	position: absolute;
	z-index: 1;
	left: 60px;
	right: 60px;
	bottom: 13px;
	
	height: 15px;
	border-radius: 11px;
	&:before{
	    content: '';
	    position: absolute;
	    top: 5px;
	    bottom: 5px;
	    left: 8px;
	    right: 8px;
	    border-radius: 3px;
	}
	@include scroller__track_h;
	&>.sly-bar{
		@include scroller__bar_h;
	}

	.no-scroll &{ display: none;}
}

.scroll-slider-wrap{
	position: relative;

	.submenu-wrap &{ 
		display: none;
		[data-menu-hits-enabled="false"] &,
		.hits-hidden &{ display: none !important;}
		[data-menu-hits-enabled="true"] &{ display: block;}
	}
	
	@media (max-width: 767px){
		display: none !important;
	}

	&.no-scroll .ctrl-arrow-wrap{ display: none;}
	.ctrl-arrow-wrap{
		position: absolute;
		z-index: 1;
		bottom: 2px;
		&.prev{ left: 5px;}

		&.next{ right: 5px;}
	}

	.submenu-wrap > &{
		margin-top: 25px;
	}

	// .submenu-wrap &{
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	[data-hits-position="top"] &{
	// 		top: 25px;
	// 	}
	// 	[data-hits-position="bottom"] &{
	// 		bottom: 20px;
	// 	}
	// }

}
.scroll-slider{
	width: 100%;
	overflow: hidden;
	text-align: center;
	
	.slider-content{
		white-space: nowrap;
		display: inline-block;
	}

	.slider-item{
		display: inline-block;
		vertical-align: top;
		white-space: normal;

		// width is (container-width)-70 (parent paddings 20 + 20
		// and container paddings 15 + 15)
		// divided by needed items in row
		@media (min-width: $xl-min){	
			width: $submenu-h-col-xl;
			.no-xl &{ width: $submenu-h-col-lg;}
		}
		@media (min-width: $xxl-min){ 
			width: $submenu-h-col-xxl;
			.no-xxl &{ width: $submenu-h-col-xl; }
			.no-xl &{ width: $submenu-h-col-lg; }
		}
		@media (max-width: $lg-max){ width: $submenu-h-col-lg;}
		@media (max-width: 1199px){	width: $submenu-h-col-md;}
		@media (max-width: 991px){ width: $submenu-h-col-sm;}

		padding-bottom: 50px;
		.no-scroll &{ padding-bottom: 0;}

		text-align: center;
		.photo{
			line-height: 100px;
			text-align: center;

			width: 100%;
			height: 100px;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}

		.name{
			display: inline-block;
			height: 40px;
			width: 100%;

			word-wrap: break-word;
			overflow-wrap: break-word;
			
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: 10px;
		}

		.price-wrap{
			text-align: center;
			margin-bottom: 5px;
		}

		.price-old, .price{
			display: inline-block;
		}

		.price{
			margin-left: 6px;
			font-weight: bold;
			font-size: em(20px);
		}

		.action-buttons{
			.catalog-menu &{
				display: none;
			}
		}
	}
}
