.modal-settings{
	width: 950px;
	padding: 30px 35px 0px;

	h2{
		margin-top: 0;
		font-size: em(24px);
		margin-bottom: 10px;
	}

	.combo-target-content{
		@include clearfix;
	}
	.combo-link, .combo-header{
		padding: 8px 10px 10px;

		
		@include transition(false, (background, color));

		&:hover{
			>.text{
				border-bottom-color: transparent;
			}
		}
		&.active{
			&:hover{
				cursor: default;
			}
		}

		&>.text{
			@include transition(false, border-color);
			border-bottom: 1px dotted;
		}
	}


	>.full{
		.combo-target-content{ padding-bottom: 20px;}
		.combo-links{ display: none !important;}
	}
	
	.modal-footer{
		margin-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	.settings-to-defaults{
		height: 40px;
		line-height: 40px;
		float: left;
		>i{
			top: 1px;
		}
	}

	.btn-submit, .btn-cancel{
		float: right;
		height: 40px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 3px;
		margin-left: 20px;
		>.text{
			font-weight: bold;
			position: relative;
			top: -2px;
		}
		&:active{
			>.text{
				top: -1px;
			}
		}
	}
	.set-defaults{
		float: right;
		padding-top: 10px;
	}

	input[type="text"]{
		height: 32px;
		line-height: 32px;
	}
	
	.ik_select{
		max-width: 90%;
		min-width: 30%;
	}

	fieldset{
		margin: 20px 0 0;
		border: 1px solid #c0c0c0;
		padding: 0 15px 15px;

		&.row{
			padding-left: 0;
			padding-right: 0;
			legend{
				margin-left: 11px;
			}
		}

		border-radius: 10px;
		.setting-desc, .property-desc{
			margin-top: 10px;
		}
	}
	legend{
		border: none;
		width: auto;
		font-size: em(13px);
		font-weight: bold;
		color: #aaa;

		margin: 0;
		margin-left: -4px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.has-preview{
		transition: color .4s;
		position: relative;
		top: -4px;
		padding-left: 3px;
		font-weight: normal;

		color: #777;
		&:hover{
			color: #000;
			cursor: help;
		}
		&:before{
			font-size: 11px;
		}
	}

	.tooltip{
		font-weight: normal;
	}

	.fileinput-styled{
		position: relative;
		float: right;
		font-size: 12px;
		.btn-fileinput{
			&:active>.text{ 
				position: relative;
				top: 1px;
			}
			display: inline-block;
			height: 30px;
			line-height: 30px;
			white-space: nowrap;
			
			padding-left: 10px;
			padding-right: 10px;
			
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			cursor: pointer;

			&>.text{
				display: inline-block;
			}
		}
		input{
			/* читал о проблемах с загрузкой файлов при скрытии
			инпута через display: none, поэтому скрываем прозрачностью и позиционированием
			display: none; */
			position: absolute;
			visibility: hidden;
			opacity: 0;
			top: 0;
			left: 0;
			height: 0;
		}
		.chosen-file{
			margin-top: -2px;
		}
	}
	.select-suboptions{
		padding: 0;
		margin: 10px 0 -10px;
		list-style: none;

		>li{
			display: inline-block;
			width: 32px;
			height: 32px;
			border-radius: 3px;
			border: 2px solid transparent;
			margin-right: 5px;
			background: #ccc;

			&:hover{
				cursor: pointer;
				border-color: silver;
			}
			&.active{
				border-color: gray;
			}
		}

		&[data-option="image"]>li{
			width: 80px;
			height: 60px;
		}
	}

	.site-background{
		display: none;
	}
	[data-site-background="image"] [data-option="image"]{display: block;}
	[data-site-background="color"] [data-option="color"]{display: block;}
	[data-site-background="pattern"] [data-option="pattern"]{display: block;}
	[data-site-background="gradient"] [data-option="gradient"]{display: block;}

	.settings-view{
		float: right;
		font-size: 12px;
		font-weight: normal;
		margin-top: 8px;
	}
	.settings-view-link{
		border-bottom: 1px dotted;
		@include transition(false, (color, border-color));
		&:hover{
			cursor: pointer;
			border-bottom-color: transparent;
		}

		&.active{
			font-weight: bold;
			border-bottom: none;
			cursor: default;
			pointer-events: none;
		}
	}

	@media (max-width: 991px){
		width: 720px;

		.slider-img-selection{
			width: 50%;
		}
	}

	@media (max-width: 767px){
		width: 100%;
		max-width: 720px;
		padding: 0 15px 0px;
		margin: 0 auto;

		>.btn-close{
			>.btn-text{display: none;}
		}
		
		.settings-view{
			display: none;
		}
		h2{
			padding: 7px 30px 10px 10px;
			margin-left: -15px;
			margin-right: -15px;
			font-size: 20px;
		}
		.slider-type-selection, .slider-img-selection{
			float: none;
			height: 80px;
			width: 100%;
			padding-right: 0px;
		}

		.combo-target-content{
			padding-bottom: 20px;
		}
	}
}

.setting-desc, .property-desc{
	font-weight: bold;
	font-size: em(14px);
	margin-bottom: 10px;
	margin-top: 20px;
}
.property-desc{
	font-weight: normal;
}
.settings-item{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 5px;
}
.setting-content{
	.radio-styled{
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
}

.links-style{
	margin: 0;
	padding: 0;
	list-style: none;

	>li{
		position: relative;
		.text{
			display: inline-block;
			width: 210px;
			height: 32px;
			line-height: 32px;
		}
		&+li{
			margin-top: 10px;
		}
	}
}

.theme-demos{
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;

	[data-styling-type="skew"] &.skew{ display: block;}
	[data-styling-type="flat"] &.flat{ display: block;}
}

.theme-demo{
	display: inline-block;
	margin-right: 5px;

	width: 32px;
	height: 32px;

	outline: 2px solid transparent;
	transition: outline-color .3s;
	&:hover{ 
		cursor: pointer;
		outline-color: silver;
	}

	&.active{
		outline-color: gray;
	}
}

#settings-panel .hidden-xs{
	@media (max-width: 767px){
		display: none !important;
	}
}

.bs_height-input{
	width: 75px;
	padding: 0 10px;
	text-align: center;
	float: left;
}

.big-height-slider{
	position: relative;
	top: 11px;
	width: auto;
	margin-left: 85px;
}

.textinput.percents{
	width: 60px;
	padding: 0 10px;
	display: inline-block;
	text-align: center;

	&.limit-start{
		margin-right: 20px;
	}
}

.text.percents{
	height: 32px;
	line-height: 32px;
	width: 60px;
	display: inline-block;
	margin-right: 5px;
}

.simple-slider.percents{
	width: auto;
	margin-left: 150px;
}
.range-slider.percents{
	width: 80%;
	margin-top: 0;
}

.slide-desc{
	margin-bottom: -6px;
}

.setting-content.percents{
	//text-align: center;
}

.dummy-wrap{
	clear: both;
	padding-top: 20px;
}

.settings-info-popup{
	z-index: 6;
	width: 160px;
	>.content{
		color: #fff;
		text-align: left;
		line-height: normal;
		
		padding: 10px;
		padding-top: 15px;
		>.btn-close{
			color: #fff;
			&:hover{
				color: silver;
			}

			>i:before{
				@media (max-width: 767px){
					font-size: 10px;
				}
			}
		}
	}
}