.characteristics{
	.general-info{
		font-size: 13px;
		position: relative;
		padding-bottom: 20px;
		.desc{
			max-height: 75px;
			overflow: hidden;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0px;
				height: 30px;
				background-image: linear-gradient(to top, #fff, rgba(255,255,255,0));
			}
		}
		
		.link{
			float: right;
			z-index: 1;
			background-color: #fff;
			transition: color .4s;
					
			&>.text{
				border-bottom-style: dotted;
				&.when-closed{ display: inline;}
				&.when-opened{ display: none;}
			}
		}

		&.toggled{
			.desc{
				max-height: none;
				&:after{display: none;}
			}
			.link{
				&>.text{
					&.when-closed{ display: none;}
					&.when-opened{ display: inline;}
				}
			}
		}
	}
	.info{
		display: inline-block;
		vertical-align: top;
		margin: 15px 15px 0px 40px;

		position: relative;
		&:before{
			position: absolute;
			top: -10px;
			left: -35px;
			font-size: 27px;
		}
	}

	.detailed-tech{
		&>header{
			margin-top: 20px;
			margin-bottom: 20px;
			font-weight: bold;
			font-size: em(18px);
		}
	}

	.tech-info-block{
		width: 100%;
		&>header{
			user-select: none;
			position: relative;
			margin-right: -10px;
			padding-left: 40px;
			font-weight: bold;
			height: 40px;
			line-height: 40px;
			font-size: em(16px);
			&:hover{ cursor: pointer;}
			@include transition(false, background);

			&>i{
				position: relative;
				&:before{
					position: absolute;
					left: -30px;
					top: -7px;
					font-weight: normal;
				}
			}

			&>.text{
				position: relative;
				border-bottom: 1px dotted;
				&:after{
					content: '';
					position: absolute;
					top: 10px;
					right: -15px;
					
					border: 4px solid transparent;
					border-top-color: black;
					border-bottom-color: black;
					
					border-bottom-width: 0;
				}
			}
		}/* &>header */

		&.expanded > header > .text:after{
			border-bottom-width: 4px;
			border-top-width: 0;
		}
		
		.expand-content{
			position: relative;
			overflow: hidden;
			padding-left: 40px;
			margin-top: 10px;		
			dt{
				margin-bottom: 10px;
				display: inline-block;
				margin-right: -4px;
				width: 49%;
				vertical-align: top;
				font-weight: normal;
				position: relative;
				&:after{
					position: absolute;
					content: '';
					border-bottom: 1px dotted;
					margin-left: 10px;
					width: 100%;
					height: 1.1em;
				}
				sup{
					font-size: 10px;
					font-weight: bold;
					padding-left: 1px;
					padding-right: 1px;
					&:hover{
						cursor: help;
					}

					&+.tooltip{
						margin-top: 5px;
					}
				}

				.property-name{
					background-color: #fff;
				}
			}
			dd{
				margin-bottom: 10px;
				display: inline-block;
				vertical-align: bottom;
				width: 51%;
				overflow: hidden;
				position: relative; // overflow doesn't work without it
				padding-left: 10px;
			}
			.link>.text{
				display: inline-block;
			}
		}/* .expand-content */

		// finetuning of icons
		// .general:before{
		// 	font-size: 26px;
		// }
		// .screen:before{
		// 	font-size: 25px;
		// }
		// .os:before{
		// 	font-size: 22px;
		// }
		// .ram:before{
		// 	font-size: 32px;
		// }
		.comm:before{
			font-size: 25px;
			left: -32px;
		}

	}/* .tech-info-block */
}/* .characteristics */