.hurry{
	text-align: center;
	padding-top: 30px !important;
	padding-bottom: 20px !important;
	

	header{
		position: relative;
		margin: 0 auto 40px;
		font-size: em(45px);
		font-weight: bold;
		min-height: 135px;
		padding-top: 8px;

		.text{
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
		i:before{
			position: absolute;
			font-weight: normal;
			font-size: 55px;
			left: -100px;
			top: -8px;
		}
		
		.like:before{
			
		}
		.sale:before{
			top: -10px;
			left: auto;
			right: -100px;
			font-size: 65px;
		}



	}

	.subheader{
		margin-top: 5px;
		font-size: 24px;
		font-weight: normal;
	}

	@media (max-width: 767px){
		header{
			font-size: em(30px);
			min-height: 110px;
			i:before{
				top: 2px;
				left: -50px;
				font-size: 30px;
			}
			.sale:before{
				top: -2px;
				right: -55px;
				font-size: 35px;
			}
		}
		.subheader{
			font-size: 16px;
		}
	}

	@media (max-width: 480px){
		header{
			font-size: em(24px);
			min-height: 110px;
			i:before{
				top: 2px;
				left: -40px;
				font-size: 24px;
			}
			.sale:before{
				top: -2px;
				right: -45px;
				font-size: 30px;
			}
		}

	}

	.catalog{
		display: block;
		
	}
	.item{
		padding-left: 11px;
		padding-right: 11px;
	}
}/* .hurry */

.hurry-carousel{
	>.content{
		position: relative;
		text-align: left;	
		z-index: 2; // for .hovered items to be over controls
		>.catalog-item-wrap{
			display: none;
			&.active{ 
				display: inline-block;
			}
			vertical-align: top;
			margin-right: 0px;
			margin-bottom: 10px;
			>.catalog-item{
				width: 100%;
				max-width: 250px;
				margin: 0 auto;
			}
			@media (min-width: $xl-min){ 
				width: (100 / 5) * 1%;
				.no-xl &{ width: (100 / 4) * 1%;}
			}
			@media (min-width: $xxl-min){
				width: (100 / 6) * 1%;
				.no-xxl &{ width: (100 / 5) * 1%;}
				.no-xl &{ width: (100 / 4) * 1%;}
			}
			@media (max-width: $lg-max){ width: (100 / 4) * 1%;}
			@media (max-width: 1199px){ width: (100 / 3) * 1%;}
			@media (max-width: 991px){ width: (100 / 2) * 1%; }
		}
	}/* >.content */
	
	@media (max-width: 767px){
		width: 290px;
		margin: 0 auto;
		>.content>.catalog-item-wrap{
			width: 100%;
			margin-right: 0;
		}
	}
}

.hurry-item{
	@extend .blocks-item;
	width: 250px !important;
	.photo-wrap{
		height: 180px;
		padding-bottom: 0;
		>.photo{ line-height: 180px;}
	}
	margin: 0 auto;
	.economy{
		clear: both;
		margin-top: 10px;
		margin-bottom: 10px;
		.value{
			display: inline-block;
			padding: 1px 7px;

			font-size: em(14px);
		}
	}/* .economy */

	.already-sold{
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: left;
		&>.text{
			margin-right: 5px;
			display: inline-block;
			vertical-align: middle;
		}
		&>.track{
			float: right;
			position: relative;
			margin-top: 8px;
			height: 6px;
			width: 115px;
			border-radius: 3px;
			.value{
				position: absolute;
				left: 0;
				right: 0;
				top: 5px;
				text-align: center;
				font-weight: bold;
			}
		}

		.bar{
			border: 1px solid;
			height: 6px;
			position: absolute;
			top: 0;
			left: 0;
			width: 90%;

			border-radius: 3px;
		}
	}/* .already-sold */
	.remaining{
		text-align: left;
		margin-bottom: 15px;
	}
	@media (min-width: 768px){
		.art-rate{
			@include clearfix;
		}
	}
	@media (max-width: 767px){
		.photo-wrap{
			height: 100px;
			>.photo{ line-height: 100px;}
		}
		.art-rate{
			margin-top: 5px;
		}

		.btn-buy-wrap{
			&>.buy{
				min-width: 110px;
				i, .text{
					display: inline-block !important;
					vertical-align: middle;
					line-height: 33px;

					&.in-cart{ display: none !important;}
				}
				.text{
					position: relative;
					top: -1px;
				}

				&.main-clicked, &.forced, &.main-clicked.forced, &.already-in-cart{
					.text{
						display: none !important;
						&.in-cart{display: inline-block !important;}
					}
					
				}
			}
		}
		.favorite{
			position: static !important;
		}
		.prices{
			margin-bottom: 0;
		}

		.economy{
			margin: 5px auto;
		}
	}
}/* .hurry-item */