.promo-banners.container, .promo-banners.container-fluid{
	@include clearfix;
	padding-bottom: 0px;
	padding-top: 10px;
	.promo{
		position: relative;
		display: block;
		float: left;
		width: 49%;
		margin-right: 2%;

		text-align: center;
		overflow: hidden;
		&:nth-child(2n){
			margin-right: 0;
		}
		>a{
			display: inline-block;
			position: relative;
			max-height: 210px;
			max-width: 100%;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: transparent;
				@include transition(false, background);
			}
		}
		&:hover{
			>a:after{
				background: fade-out(#000, 0.75);
			}
		}

		img{
			max-height: 100%;
			max-width: 100%;
		}

		@media (max-width: 767px){
			height: auto;
			float: none;
			width: 100%;
			margin-right: 0;
			text-align: center;
			margin-bottom: 10px;

			img{
				max-width: 100%;
				max-height: none;
			}
		}
	}/* .promo */

	@media (max-width: 767px){
		margin-bottom: 0;
	}
}/* .promo-banners */