.btn-settings-toggle{
	position: absolute;
	margin-left: -60px;
	height: 48px;
	width: 48px;

	[data-top-line-position="fixed-left"] &, [data-top-line-position="fixed-right"] &{
		margin-left: 0;
		margin-top: -50px;
		width: 49px;
	}

	@media (max-width: 767px){
		[data-top-line-position="fixed-top"] &, [data-top-line-position="not-fixed"] &{
			top: 100px;
			right: 0;
		}
		[data-top-line-position="fixed-bottom"] &{
			bottom: 140px;
			right: 0;
			top: auto;
		}
		[data-top-line-position="fixed-left"] &, [data-top-line-position="fixed-right"] &{
			margin-top: -40px;
			width: 40px;
			right: auto;
			top: auto;
		}
		// z-index: 2;
		top: 100px;
		right: 0;
		margin-left: 0;
		height: 40px;
		width: 42px;
	}
}