.modal-form{
	text-align: center;

	.modal-dialog{
		position: relative;
		display: inline-block;
		width: auto;
		height: auto;
		padding: 30px 50px 20px;
		border-radius: 4px;

		@media (max-width: 767px){
			padding: 20px 20px 10px;
			width: 100%;
			max-width: 320px;
			margin: 0;
			border-radius: 0;
		}
	}

	.social-text{
		margin-top: 0px;
		font-size: em(16px);
		margin-bottom: 20px;
	}
	.social-list{
		padding: 0px;
		margin: 0;
		li{ 
			display: inline-block;
			& + li{
				margin-left: 10px;
			}
		}
		.social-modal{
			width: 32px;
			height: 32px;
			line-height: 30px;
			display: inline-block;
			border-radius: 4px;
	
			text-align: center;
			@include transition(false, opacity);
			&:hover{
				opacity: 0.6;
			}
			.icon-container{
				display: inline-block;
				vertical-align: middle;
			}
		}/* .social */
	}/* .social-list */

	.btn-submit:active{
		position: relative;
		top: 1px;
	}

	h2{
		margin-top: 0;
		text-align: left;
		font-size: em(24px);
	}/* h2 */

	.submit-wrap{
		text-align: center;
	}
	.btn-submit{
		display: inline-block;
		margin-top: 15px;
		padding: 10px 25px;

		font-size: 20px;
		font-weight: bold;
	}

	.modal-captcha-wrap{
		margin-top: 7px;
		margin-bottom: 15px;
	}

	.modal-captcha-input-wrap{
		padding-left: 0 !important;
	}

	.form_socials{
		text-align: center;
	}

	@media (max-width: 767px){
		h2{
			text-align: center;
			font-size: em(18px);
			margin-top: -20px;
			margin-left: -20px;
			margin-right: -20px;
			padding: 8px 30px 10px 20px;
		}
		.switch-form-block{
			text-align: center !important;
			margin-bottom: 10px !important;
			padding-right: 30px !important;
			padding-left: 20px !important;
		}
		.btn-submit{
			font-size: 18px !important;
		}
		.submit-wrap{
			text-align: center;
			padding-top: 0 !important;
			margin-bottom: 20px !important;
		}

		.btn-close{
			.btn-text{display: none;}
		}
		.modal-captcha-input-wrap{
			padding-top: 0 !important;
		}
	}
}

.modal_login{
	.modal-footer{
		padding: 15px 15px 10px;
		margin-left: -50px;
		margin-right: -50px;
		border-top: 1px solid;
		text-align: center;
	}
	@media (max-width: 767px){
		.btn-submit{
			padding-left: 20px;
			padding-right: 20px;
		}

		.modal-footer{
			margin-left: -20px;
			margin-right: -20px;
		}
	}
}

.modal-form form{
	margin: 0 auto;
	text-align: right;
	
	.switch-form-block{
		margin-top: -10px;
		margin-bottom: 20px;
		text-align: left;
		font-size: em(14px);

		.btn-form-switch{
			.btn-text{
				display: inline-block;
				@include transition(false, (color, border-color));
				border-bottom: 1px solid;
			}
		}/* .btn-form-switch */
	}/* .switch-form-block */

	.textinput-wrapper{
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		font-weight: normal;
		
		input{
			height: 44px;
			width: 100%;

			&+.textinput-icons{
				line-height: 44px;
			}

			padding-right: 40px;
			&.password{
				padding-right: 80px;
			}

		}
		.label-text{
			position: absolute;
			left: 0;
			top: 0;

			height: 44px;
			//line-height: 44px;
			font-weight: normal;
			text-align: left;

			font-size: em(15px);

			&:hover{ cursor: pointer;}
			
			>.inner-wrap{
				display: table;
				width: 100%;
				height: 100%;
				>.inner{
					display: table-cell;
					vertical-align: middle;
				}
			}
			
		}/* .label-text */
	}/* .textinput-wrapper */

	@media (max-width: 767px){
		.modal &{
			width: 280px !important;
		}
		.textinput-wrapper{
			padding-left: 0 !important;
			margin-bottom: 10px;
			padding-top: 44px;
			
			input{
				height: 45px;
				line-height: 45px;
				font-size: 16px;
				&+.btn-input{
					height: 45px;
				}
			}
			.label-text{ width: 100% !important;}

			.textinput-icons{
				top: 44px;
			}
		}/* .textinput-wrapper */

		/* .anti-robot{
			margin-top: 0 !important;
			.captcha{
				top: 31px !important;
				height: 45px !important;
				line-height: 45px !important;
			}
			.label-text{
				top: 0 !important;
			}
			input{
				width: 75%;
			}
		}.anti-robot */
	}/* @media (max-width: 767px) */
}

.form_login{
	width: 100%;
	.modal &{ max-width: 420px;}	
	
	.textinput-wrapper{
		padding-left: 100px;
		.label-text{ width: 100px;}
	}

	.btn-submit{
		margin-top: 25px;
		width: 100%;
		height: 52px;
		text-align: center;

		font-size: em(20px);
		font-weight: bold;
	}

	.forgot-pass{
		transition: 0.3s;
		border-bottom: 1px solid;
	}
}/* .form-login */

.form_registration{
	width: 100%;
	.modal &{ max-width: 425px;}
	.generate-pass-wrap{
		text-align: left;
		margin-bottom: 5px;
		.radio-styled{
			margin-bottom: 10px;
		}
	}
	.textinput-wrapper{
		padding-left: 150px;
		.label-text{ width: 150px;}
	}

	.anti-robot{
		position: relative;
		.textinput-wrapper{
			padding-left: 305px;
			input{ text-align: center;}
		}
		.captcha{
			position: absolute;
			top: 0;
			left: 150px;
			height: 44px;
			width: 150px;
		}
	}/* .anti-robot */
	
	.checkbox-content{
		a{ 
			border-bottom: 1px solid;
			@include transition(false, (color, border-color));
		}
	}

	.btn-submit{
		padding: 10px 50px;
		display: block;
		width: 100%;

		font-size: em(20px);
		font-weight: bold;
	}

	@media (max-width: 767px){
		.anti-robot{
			.textinput-wrapper{
				padding-left: 155px !important;
			}
			.captcha{
				left: 0px;
				top: 44px;
			}
		}
	}
}/* .form-registration */

.captcha{
	overflow: hidden;
	text-align: center;
	background-color: rgba(255,255,255,0) !important;

	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.required-info{
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 15px;
	text-align: left;
	@media (max-width: 767px){
		margin: 0;
		font-size: 13px;
	}

	.form_comment &{
		margin-left: 0;
		margin-right: 0;
	}
}

.form_callme{
	width: 100%;
	.modal &{ max-width: 420px;}
	h2{
		margin-bottom: 30px;
	}	
	
	.textinput-wrapper{
		padding-left: 100px;
		.label-text{ width: 100px;}
	}

	.btn-submit{
		margin-top: 25px;
		width: 70%;
		height: 52px;
		text-align: center;

		font-size: em(18px);
		font-weight: bold;
	}
	@media (max-width: 767px){
		h2{
			margin-bottom: 10px;
		}
	}
}/* .form_callme */

.modal-form .modal-form-w-icons{
	text-align: left;
	min-width: 400px;
	h2{
		margin-bottom: 15px;
	}
	label{
		text-align: left;
		font-weight: normal;
	}
	.icon-before-input{
		position: absolute;
		top: 0;
		left: 0;
		width: 35px;
		height: 44px;
	}
	.submit-wrap{
		margin-top: 15px;
		text-align: center;
	}
	.textinput-wrapper{
		position: relative;
		display: inline-block;
		width: auto;
		margin-top: 7px;
		margin-bottom: 20px;
		padding-left: 40px;

		input{
			width: 300px;
		}


		&.email{
			&>.icon-before-input{
				top: 0;
				left: 0;
				&:before{
					font-size: 25px;
				}
			}
		}
		&.url{
			&>.icon-before-input{
				top: 4px;
				left: 0;
				&:before{
					font-size: 24px;
				}
			}
		}/* &.url */
		&.name{
			&>.icon-before-input{
				top: 4px;
				left: 0;
				&:before{
					font-size: 26px;
				}
			}
		}/* &.name */
		&.phone{
			&>.icon-before-input{
				top: 1px;
				left: -2px;
				&:before{
					font-size: 30px;
				}
			}
		}/* &.phone */
	}

	@media (max-width: 767px){
		width: 100%;
		min-width: 0;
		.text-w-icon{
			position: absolute;
			margin-top: 18px;
			margin-left: 35px;
			&.price, &.url{
				margin-top: 10px;
			}
		}
		.textinput-wrapper{
			width: 100%;
			margin-bottom: 10px;
			input{
				width: 100%;
			}
			
		}
	}
}

.modal-form .form_inform-when-price-drops{
	.textinput-wrapper{
		&.price{
			&>.icon-before-input{
				
				&:before{
					font-size: 30px;
				}
			}
			&>input{ 
				width: 120px;
				padding-right: 20px;
			}
			.b-rub{
				position: relative;
				left: -20px;
				top: 1px;
			}
		}
	}

	.prices{
		width: 320px;
		.simple-slider{
			margin-top: 0;
		}
	}
	.info{
		.price{ font-weight: bold;}
		.price-block{ 
			white-space: nowrap;
			display: inline-block;
		}
		.desired{
			margin-right: 20px;
		}
		.difference{
			margin-top: 10px;
		}
	}

	@media (max-width: 767px){
		.prices{
			width: 280px;
		}
		.info{
			.current{
				display: block;
				margin-top: 7px;
			}
		}
	}
} 

.modal-form .form_feedback{
	$l: 140px;
	$h: 44px;
	$w: 270px;
	max-width: $w * 2 + $l + 10px;
	textarea{
		width: $w * 2;
	}
	.textinput-wrapper{
		padding-left: 0;
		&>.text{
			display: inline-block;
			vertical-align: top;
			width: $l;
			height: $h;

			font-size: 16px;

			>.inner-wrap{
				display: table;
				width: 100%;
				height: 100%;
				>.inner{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
		&>input{
			width: $w;
		}

		&.textarea>.text{
			line-height: normal;
		}
	}
	.helper{
		position: absolute;
		left: $l + 5px;
		top: $h;
		font-size: 12px;
		color: #666666;
		font-style: italic;

		white-space: nowrap;
	}
	
	.socials{
		float: right;
		width: $w - 20px;

		&>.text{
			display: inline-block;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: bold;
		}
	}
	.social-list{
		font-size: 0;
		padding: 0;
		list-style: none;
		&>li{ 
			display: inline-block;
		}

		.social{
			display: block;
			border-radius: 50%;
			width: 31px;
			height: 31px;
			&.vk{ background: url('../img/icons/icon_social_vk.png') no-repeat center center;}
			&.tw{ background: url('../img/icons/icon_social_tw.png') no-repeat center center;}
			&.ya{ background: url('../img/icons/icon_social_ya.png') no-repeat center center;}
			&.fb{ background: url('../img/icons/icon_social_fb.png') no-repeat center center;}
			&.ok{ background: url('../img/icons/icon_social_ok.png') no-repeat center center;}

			@include transition(false, opacity);
			&:hover{
				opacity: 0.8;
			}
		}
	}

	@media (max-width: 767px){
		max-width: 100%;
		p{ margin-bottom: 10px;}
		textarea{
			width: 100%;
		}
		.textinput-wrapper{
			padding-top: 0;
			&>.text{
				display: block;
				width: 100%;
				height: 30px;
				line-height: 30px;

				font-size: 16px;
			}
			&>input{
				width: 100%;
			}

			.textinput-icons{
				top: 30px;
			}
		}
		.helper{
			left: auto;
			right: 0;
			left: 0;
			top: 76px;
			white-space: normal;
		}
		
		.socials{
			float: none;
			width: 100%;
			text-align: center;

			.social-list{
				display: inline-block;
			}
		}
	}/* @media (max-width: 767px) */
}/* .modal-form .form_feedback */

.form_yourcity{
	text-align: center;
	p{
		font-size: em(18px);
	}
	.current-city{
		font-weight: bold;
	}

	.btn-main{
		margin-bottom: 20px;
		display: inline-block;
		padding: 10px 25px;
		&>.text{
			font-weight: bold;
			font-size: em(16px);
		}
	}

	.another-city{
		display: inline-block;
		margin-bottom: -20px;
		border-bottom: 1px dotted;
	}
}

.modal-form .form_place-order{
	.textinput-wrapper.comments{
		padding-left: 0;
	}
	textarea.textinput{
		width: 340px;
	}
	@media (max-width: 767px){
		.textinput-wrapper.comments{
			padding-top: 0;
		}
		textarea.textinput{
			width: 280px;
		}
		.btn-submit{
			margin-top: 10px;
		}
	}
}

.modal-form .form_calc-delivery{
	text-align: left;
	min-width: 520px;
	.link>.text{ border-bottom: 1px dotted;}

	.calc-basket-too{
		float: right;
		margin-top: 4px;
	}
	.quantity-counter{
		float: left;
		&>.text{
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
	}
	.delivery-options{
		clear: both;
		margin-top: 25px;
	}
	.delivery-option{
		margin-top: 5px;
		padding: 10px;
		@include clearfix;
		border: 2px solid transparent;
		border-radius: 3px;

		@include transition(false, border-color);
		&:hover{ cursor: pointer;}
		&.active:hover{ cursor: default;}
		&>.img-wrap{
			float: left;
			margin-right: 10px;
			width: 100px;
			text-align: center;

			&>img{
				max-width: 100%;
			}
		}
		&>.price{
			font-weight: bold;
		}

		&>.delivery-time{
			font-size: 12px;
		}
	}

	@media (max-width: 767px){
		min-width: 0;
		width: 100%;
		.calc-basket-too{
			float: none;
			margin-top: 0px;
			margin-bottom: 5px;
		}
		.quantity-counter{
			float: none;
			margin-top: 5px;
		}
	}
}/* .modal-form .form_calc-delivery */