.modal_big-img{
	width: 100%;
	height: 100%;
	padding: 0 100px 70px !important;

	&.no-thumbs{
		padding: 0;
		>.btn-close{ right: 0;}
		>.bigimg-thumbnails-wrap{display: none;}
	}

	>.btn-close{
		z-index: 2;
		top: 0;
		right: 100px;
		width: 50px;
		height: 50px;
		color: silver;
		>i{
			&:before{
				font-size: 30px;
			}
		}
		&:hover{
			color: #fff;
		}
	}

	&.single-img{
		padding: 0;
		>.btn-close{
			right: 0;
		}
	}
}/* .modal_big-img */
.bigimg-wrap{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		margin-right: -5px;
	}

	>img{
		max-width: 100%;
		max-height: 100%;
	}
	.img-desc{
		padding: 10px;
		color: #fff;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		text-align: center;
		padding: 10px 30px;
		background: rgba(0,0,0,0.6);

		font-size: em(18px);
	}
	&[data-bigimg-desc="disabled"]{
		.img-desc{display: none;}
	}
	&[data-bigimg-desc="top"]{
		.img-desc{
			top: 0;bottom: auto;
		}
	}
	&[data-bigimg-desc="bottom"]{
		.img-desc{
			bottom: 0;top: auto;
		}
	}

	.img-control{
		position: absolute;
		top: 0;
		height: 100%;
		width: 100px;
		
		&.prev{
			text-align: left;
			padding-left: 10px;
			left: -100px;
			background: rgba(0,0,0,0.6);
		}

		&.next{
			text-align: right;
			padding-right: 10px;
			background: rgba(0,0,0,0.6);
			right: -100px;
		}

		>i{
			&:before{
				transition: color .3s;
				color: #222;
				font-size: 70px;
			}
		}
		&:hover{
			>i:before{
				color: #888;
			}
		}

		&.disabled{
			&:hover{ cursor: default;}
			>i:before{
				display: none;
			}
		}

		@media (max-width: 767px){
			display: none;
		}
	}
}
.bigimg-thumbnails-wrap{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 70px;
	width: 100%;
	
	.single-img > &{
		display: none;
	}


	&>.thumbnails-frame{
		height: 100%;
		width: 100%;
		overflow: hidden;
		text-align: center;

		&>.thumbnails-slidee{
			height: 100%;
			display: inline-block;
			@include clearfix;
			>.thumb{
				@include transition(false, (border-color));

				float: left;
				height: 70px;
				width: 70px;
				line-height: 70px;

				& + .thumb{
					margin-left: 15px;
				}

				text-align: center;
				border: 1px solid;
				border-radius: 3px;
				padding: 1px;

				&>img{
					max-width: 100%;
					max-height: 100%;
				}

				&:hover{ cursor: pointer;}

				&.active{
					border-width: 2px;
					padding: 0px;
				}
			}/* &>.thumbnails-slidee>.thumb */
		}/* &>.thumbnails-slidee */
	}/* &>.thumbnails-frame */

	&>.thumb-control{
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		@include transition(false, (left right));
		
		>i:before{
			font-size: 18px;
		}

		&.prev{
			border-radius: 0 100% 100% 0;
			left: -5px;
			&>i{
				position: relative;
				top: 1px;
				left: -1px;
			}

			&.disabled{
				left: -35px;
			}
		}
		&.next{
			border-radius: 100% 0 0 100%;
			right: -5px;
			&>i{
				position: relative;
				left: 1px;
			}
			&.disabled{
				right: -35px;
			}
		}

		@media (max-width: 767px){
			height: 50px;
			width: 50px;
			>i:before{
				font-size: 22px;
			}
			&.next{
				right: -15px;
				>i{
					top: 2px;
					left: -2px;
				}
				&.disabled{
					right: -50px;
				}
			}
			&.prev{
				left: -15px;
				>i{
					top: 2px;
					left: 3px;
				}
				&.disabled{
					left: -50px;
				}
			}
		}
	}/* &>.thumb-control */

	
}/* .thumbnails-wrap */