span.quantity-counter {
	display: inline-block;
}

tr.out-of-stock td.actions .btn-to-waitlist {
	visibility: hidden;
}

div.coupon-outer-wrap {
	float: left;
	clear: left;
}

a.coupon-link + div.coupon-outer-wrap {
	display: none;
}

div.coupon-help {
	clear: left;
	margin-top: 40px;
}

div.basket-footer-info {
	display: inline-block;
}
